################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
/.vs/slnx.sqlite
/.vs/ngf-azure-templates/v15/.suo
/contrib/NGF-Quickstart-VWAN/azure-pipelines.yml
/contrib/NGF-Quickstart-VWAN
/contrib/SE-1NIC-AZ-ELB-ILB-STD
/.vs/ngf-azure-templates/config/applicationhost.config
/.vs/ngf-azure-templates/v16
/contrib/CGF-Quickstart-Global-VNET-Peering
